# Build artifacts
*.bak
*.old
*.tmp
*.nogit
*.uf2
*.o
*.elf
*.bin
*.hex
*.map
build/

# PlatformIO
.pioenvs
.pio

# IDE / OS
.idea
.vscode
.venv
.DS_Store
~*

# Secrets
secrets*
secrets.*

# Media
*.m4a
*.wav
tools/*.png

# Python
__pycache__/
*.pyc

# Misc
.esphome
